{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/_navbar/conseilSport.css">
{% endblock %}

{% block body %}

    <h1>Article / Conseil sport</h1>

    <!-- Article -->
    <article>
      <article class="article-1">
        <h2>Matériel de sport, s'équiper sans s'encombrer!!!</h2>
        <div>
          <a href="!#"
            ><img src="/images/pexels-ivan-samkov-4162444.jpg" alt="Article"
          /></a>
        </div>
        <p>
          C'est l'aubaine de pouvoir faire du sport de chez soi. Fini les
          déplacements jusqu'à la salle!!! Fini les procrastinations qui des
          semaines et encore des semaines!!! Par contre, il faut choisir le bon
          matériel pour éviter de s'encombrer...<br /><a href="#"
            >-->En savoir plus</a
          >
        </p>
      </article>
      <article class="article-2">
        <h2>Programme d'entraînement efficace à la maison</h2>
        <div>
          <a href="!#"
            ><img src="/images/pexels-pixabay-38630.jpg" alt="Article"
          /></a>
        </div>
        <p>
          Un exercice physique entre 2 séances de Netflix, peut vous être très
          bénéfique. Ainsi vous arrivez à incarner la personnalité de votre
          héros préféré. Bien entenu tout type d'exercice ne peut pas s'exercer
          à la maison. Il existe des exercices bien spécifique qui sont très
          efficace et vous font gagner du temps...<br /><a href="#"
            >-->En savoir plus</a
          >
        </p>
      </article>
      <article class="article-3">
        <h2>Un travail plus isolé que celui qu'on doit faire à la maison...</h2>
        <div>
          <a href="!#"
            ><img src="/images/pexels-anush-gorak-1431283.jpg" alt="Article"
          /></a>
        </div>
        <p>
          La musculation à la maison est une activité isolé par rapport au monde
          extérieur. Mais avant cela, il faut faire un exercice, de façon plus
          isolé, il faut faire un exercice de mental...<br /><a href="#"
            >-->En savoir plus</a
          >
        </p>
      </article>
    </article>

{% endblock %}

{% block script %}
<script src="/js/header/scriptConseilSport.js"></script>
{% endblock %}

