/* formulaire de contact */

form {
  margin: 15px auto;
  width: 90%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
.input label {
  width: 30%;
  font-size: 25px;
}
.input div {
  width: 50%;
  display: block;
}
.input div input,
.input div textarea {
  width: 100%;
  font-size: 25px;
  box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.7);
}

input#RGPD {
  margin-top: 15px;
}

form .button {
  width: 40%;
  margin: 0 auto;
}
form button {
  width: 100%;
  font-size: 30px;
  color: white;
  background-color: black;
}

form button:hover {
  color: black;
  background-color: red;
  font-weight: bolder;
}

form p {
  color: red;
  font-size: 15px;
}

/* FAQ */

.containerFAQ {
  width: 85%;
  margin: 20px auto;
}
.containerFAQ a {
  color: black;
}
.containerFAQ a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.questions {
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 2px;
}
.minus {
  display: none;
}
.reponses {
  display: none;
}

@media screen and (max-width: 700px) {
  /* formulaire de contact */

  .input {
    display: block;
  }
  .input label {
    width: 100%;
  }
  .input div {
    width: 100%;
  }
}
