{% extends "base.html.twig" %}


{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/styleHome.css')}}" />
  <link rel="stylesheet" href="{{asset('css/footer.css')}}" />
{% endblock %}

{% block body %}

<div class="container">
    <!-- FAQ -->
    <h1>faq</h1>
    <br />
    <br />
    <br />
    <p>
      Dans la FAQ, nous vous communiquons la majorité des informations
      nécessaires à l'emploi de notre boutique. <br />
      Vous aurez les informations nécessaires sur les délais d'expéditions, nos
      politiques de remboursements et également procédures de paiements
    </p>

    <div class="containerFAQ">
      <a href=""
        ><div class="questions">
          <div>Questions 1</div>
          <div class="plus"><i class="fas fa-plus"></i></div>
          <div class="minus"><i class="fas fa-minus"></i></div></div
      ></a>

      <div class="reponses">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        cupiditate quo nesciunt magnam numquam animi, odit molestias odio vel
        omnis rem id, molestiae veniam ipsam eum modi voluptatem qui voluptates.
      </div>
    </div>
    <div class="containerFAQ">
      <a href=""
        ><div class="questions">
          <div>Questions 2</div>
          <div class="plus"><i class="fas fa-plus"></i></div>
          <div class="minus"><i class="fas fa-minus"></i></div></div
      ></a>

      <div class="reponses">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        cupiditate quo nesciunt magnam numquam animi, odit molestias odio vel
        omnis rem id, molestiae veniam ipsam eum modi voluptatem qui voluptates.
      </div>
    </div>
    <div class="containerFAQ">
      <a href=""
        ><div class="questions">
          <div>Questions 3</div>
          <div class="plus"><i class="fas fa-plus"></i></div>
          <div class="minus"><i class="fas fa-minus"></i></div></div
      ></a>

      <div class="reponses">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        cupiditate quo nesciunt magnam numquam animi, odit molestias odio vel
        omnis rem id, molestiae veniam ipsam eum modi voluptatem qui voluptates.
      </div>
    </div>
    <div class="containerFAQ">
      <a href=""
        ><div class="questions">
          <div>Questions 4</div>
          <div class="plus"><i class="fas fa-plus"></i></div>
          <div class="minus"><i class="fas fa-minus"></i></div></div
      ></a>

      <div class="reponses">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        cupiditate quo nesciunt magnam numquam animi, odit molestias odio vel
        omnis rem id, molestiae veniam ipsam eum modi voluptatem qui voluptates.
      </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="/js/footer/faq.js"></script>
{% endblock %}


