{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/footer.css">
{% endblock %}


{% block body %}
<div class="container py-2">
    <!-- politique -->

    <h1>Mentions légales</h1>

    <h2>Avis juridique<br>
    Sport à la maison
    </h2>
    <p>
    Shopify Inc., entreprise canadienne enregistrée au TSX et NYSE
    </p>
    <br />
    <h2>No. d’enregistrement:</h2>
    <p>
    426160-7
    </p>
    <br />
    <h2>Coordonnées:</h2>
    <pre>
      7 square saint pierre
      94140 Alfortville
      France
      
      assistance@shopify.com
      1-613-241-2828
    </pre>
    <br />
    <h2>Nom et coordonnées de l’hébergeur internet:</h2>
    <pre>
Google LLC
1600 Amphitheatre Parkway
Mountain View, CA 94043
USA
Tel: +1 650 253 0000
Fax: +1 650 253 0001
    </pre>
    <br />
</div>


{% endblock %}



{% block script %}
<script src="/js/footer/contact.js"></script>
{% endblock %}


    

