/* main */

main {
  width: 100%;
  margin: 30px 0;
  background: radial-gradient(rgb(219, 233, 27), #c99191);
  padding: 15px;
}

main div {
  display: flex;
  flex-wrap: wrap;
}

.flecheGauche,
.flecheDroite {
  font-size: 80px;
  display: none;
  align-items: center;
}

.image-homme,
.image-femme {
  padding: 0 10px;
}

main img {
  height: 400px;
  width: 250px;
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
}
