/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
}

ul {
  list-style: none;
  width: 100%;
}
img {
  max-width: 100%;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
  background-color: red;
}

/* HEADAER */

header {
  width: 100%;
  padding: 10px 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 15%;
}

.navbar {
  width: 85%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.navbar ul li a:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  background-color: red;
}

/* barre du nav */
.barreNav {
  display: none;
}
.navbar2 {
  display: none;
}

/* h1 */

h1 {
  margin: 30px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

/* ARTICLE */

h4 {
  margin: 3px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
article {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;

  width: 95%;
}

article img {
  max-width: 100%;
  object-fit: cover;
}
article div {
  min-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.article-1,
.article-2,
.article-3 {
  /* display: block; */
  width: 400px;
  text-align: center;
  /* margin: 5px; */
  padding: 5px;
  background: radial-gradient(rgb(219, 233, 27), #c99191);
}

/* FOOTER */

footer {
  background: rgb(27, 27, 27);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
}

.info-site,
.souscription-email,
.réseaux {
  width: 20%;
  padding: 10px 0;
}

.info-site {
  padding-left: 15px;
}

.réseaux {
  position: relative;
  right: 0;
}

.réseaux ul {
  display: flex;
}
.réseaux ul li {
  margin-right: 15px;
}

@media screen and (max-width: 1100px) {
  .réseaux {
    position: relative;
    right: 25px;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }

  .navbar2 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .barreNav {
    display: block;
  }

  .navbar2 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar2 li {
    border: rgba(0, 0, 0, 0.9) solid 1px;
    text-align: right;
  }

  .navbar2 ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  .navbar2 ul li a:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background-color: red;
  }

  footer {
    flex-direction: column;
  }

  .info-site,
  .souscription-email,
  .réseaux {
    width: 100%;
    text-align: center;
    border: burlywood 5px solid;
  }

  .réseaux {
    position: relative;
    right: 0px;
  }

  .info-site {
    display: block;
  }

  .footer-legales {
    display: inline;
  }

  .réseaux ul {
    justify-content: center;
  }
}
